@page "/Diary"

<div class="container mt-5">
    <h2>@nanika</h2>
    <form>
        <div class="form-group">
            <textarea class="form-control" id="longTextInput" rows="10" placeholder="ここに日記を入力してください"></textarea>
        </div>
        <div class="row mt-5">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn link-light col-4" style="background-color: #005d64">送信</button>
            </div>
        </div>
        
    </form>
</div>

@code {
    public string nanika = DateTime.Now.ToString("M月dd日の日記");
}