@page "/"
@using SisuCare.Data
@inject NavigationManager NavigationManager
@code{
    [CascadingParameter]
    private ShareValues? ShareValues { get; set; }
    string debugtext;
    string logoutcore = "display: none";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            AccountService.AccountBody? setting = AccountService.LoSaSettings("authid");
            try
            {
                if (setting==null)
                {
                    logoutcore = "display: none";
                    NavigationManager.NavigateTo("./Login");
                }
                else if (setting.authid != null)
                {
                    try
                    {
                        AccountService.LogAccRoot acc = await AccountService.LoginAccount(is_startup: true);
                        ShareValues.value = acc.LogAccDataBody[0];
                        debugtext = ShareValues.value.name;
                        logoutcore = "";
                        StateHasChanged();
                    }
                    catch
                    {
                        AccountService.LogoutAccount(is_local:true);
                        logoutcore = "display: none";
                        NavigationManager.NavigateTo("./Login");
                    }
                    
                }
            }
            catch
            {
                return;
            }
        }

        return;
    }

}
<div class="container">
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card mb-3 m-0 p-0" style="height: 120px; overflow: hidden;">
                <div class="row g-0" style="height: 100%;">
                    <div class="col-4 col-md-4 d-flex justify-content-center align-items-center mb-1 mt-1" style="height: 95%;">
                        <img src="images/diary.png" class="img-fluid rounded-start m-0 p-0" style="max-width: 100%; height: 100%; object-fit: scale-down;" />
                    </div>
                    <div class="col-8 col-md-8 d-flex align-items-center" style="height: 100%;">
                        <div class="m-0 p-2">
                            <a href="Diary" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                <h2 class="card-title m-0 p-0">日記  <i style="font-size: 1.3rem" class="bi bi-chevron-right"></i></h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card mb-3 m-0 p-0" style="height: 120px; overflow: hidden;">
                <div class="row g-0" style="height: 100%;">
                    <div class="col-4 col-md-4 d-flex justify-content-center align-items-center mb-1 mt-1" style="height: 95%;">
                        <img src="images/vital.png" class="img-fluid rounded-start m-0 p-0" style="max-width: 100%; height: 100%; object-fit: scale-down;" />
                    </div>
                    <div class="col-8 col-md-8 d-flex align-items-center" style="height: 100%;">
                        <div class="m-0 p-2">
                            <a href="Vital" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                <h2 class="card-title m-0 p-0">健康観察  <i style="font-size: 1.3rem" class="bi bi-chevron-right"></i></h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card mb-3 m-0 p-0" style="height: 120px; overflow: hidden;">
                <div class="row g-0" style="height: 100%;">
                    <div class="col-4 col-md-4 d-flex justify-content-center align-items-center mb-1 mt-1" style="height: 95%;">
                        <img src="images/intake.png" class="img-fluid rounded-start m-0 p-0" style="max-width: 100%; height: 100%; object-fit: scale-down;" />
                    </div>
                    <div class="col-8 col-md-8 d-flex align-items-center" style="height: 100%;">
                        <div class="m-0 p-2">
                            <a href="Taking" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                <h2 class="card-title m-0 p-0">東商式スケール  <i style="font-size: 1.3rem" class="bi bi-chevron-right"></i></h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card mb-3 m-0 p-0" style="height: 120px; overflow: hidden;">
                <div class="row g-0" style="height: 100%;">
                    <div class="col-4 col-md-4 d-flex justify-content-center align-items-center mb-1 mt-1" style="height: 95%;">
                        <img src="images/analyze.png" class="img-fluid rounded-start m-0 p-0" style="max-width: 100%; height: 100%; object-fit: scale-down;" />
                    </div>
                    <div class="col-8 col-md-8 d-flex align-items-center" style="height: 100%;">
                        <div class="m-0 p-2">
                            <a href="Analyze" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                <h2 class="card-title m-0 p-0">分析  <i style="font-size: 1.3rem" class="bi bi-chevron-right"></i></h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2" style="@((MarkupString)logoutcore)">
        <div class="col-sm-12">
            <div class="card mb-3 m-0 p-0" style="height: 120px; overflow: hidden;">
                <div class="row g-0" style="height: 100%;">
                    <div class="col-4 col-md-4 d-flex justify-content-center align-items-center mb-1 mt-1" style="height: 95%;">
                        <img src="images/uset.png" class="img-fluid rounded-start m-0 p-0" style="max-width: 100%; height: 100%; object-fit: scale-down;" />
                    </div>
                    <div class="col-8 col-md-8 d-flex align-items-center" style="height: 100%;">
                        <div class="m-0 p-2">
                            <a href="Accounts" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                <h2 class="card-title m-0 p-0">アカウント設定  <i style="font-size: 1.3rem" class="bi bi-chevron-right"></i></h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>