@page "/"

<h1>ホーム</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">分析</h1>
                <h3 class="card-description">記録されたデータからグラフや状態を分析します。</h3>
            </div>
        </div>
    </div>
</div>