@page "/Login"

<h3>ログイン</h3>
<div class="row mb-3">
    <div class="input-group">
        <input type="text" class="form-control form-control-lg" id="mail" placeholder="メールアドレス"/>
    </div>
</div>

<div class="row mb-3">
    <div class="input-group">
        <input type="password" class="form-control form-control-lg" id="pass" placeholder="パスワード"/>
    </div>
</div>

<div class="row">
    <input type="button" class ="btn btn-primary" value="ログイン" />
</div>