@page "/Login"
@using PleasureCare.Data
@inject NavigationManager NavigationManager

<h3>ログイン</h3>
@((MarkupString)message)
<div class="row mb-3">
    <div class="input-group">
        <input type="text" class="form-control form-control-lg" id="mail" placeholder="メールアドレス" @bind="mail"/>
    </div>
</div>

<div class="row mb-3">
    <div class="input-group">
        <input type="password" class="form-control form-control-lg" id="pass" placeholder="パスワード" @bind="password"/>
    </div>
</div>

<div class="row">
    <input type="button" class ="btn btn-primary" value="ログイン" @onclick="ClickedSubmit" />
</div>

@code{
    [CascadingParameter]
    private ShareValues? ShareValues { get; set; }

    string mail;
    string password;

    string message;

    private async void ClickedSubmit()
    {
        AccountService.AccountLoginBody aclb = new AccountService.AccountLoginBody()
        {
            mail = mail,
            pass = password
        };
        AccountService.LogAccRoot? log = await AccountService.LoginAccount(aclb);
        if(log != null)
        {
            if(log.RespInfo.Code == 200)
            {
                ShareValues.value = log.LogAccDataBody[0];
                NavigationManager.NavigateTo("./");
            }
            else if (log.RespInfo.Code == 404 || log.RespInfo.Code == 403)
            {
                message = "<p class='alert alert-danger'>パスワードまたはメールアドレスが間違っています。</p>";
                StateHasChanged();
            }else if(log.RespInfo.Code == 409)
            {
                message = "<p class='alert alert-danger'>複数端末からの同時ログインはできません。</p>";
                StateHasChanged();
            }
        }
    }

}