@page "/talking"
@using SmileCare.Data
<h1>問診</h1>

<div class="row">
    @questionbody
    <div class="row mb-3">
        <div class="input-group">
            <input type="text" class="form-control form-control-lg" \ placeholder="解答を入力してください" @bind="ans" />
        </div>
    </div>
    <input type="button" class="btn btn-primary" value="つぎへ" @onclick="nextQues" />
</div>
@code {
    private readonly HttpClient Client = new HttpClient();
    public MarkupString questionbody;
    public List<ansResp> qAnswers = new List<ansResp>();
    questionsA questions = new questionsA();
    public string ans;
    public string data;
    public string te;
    public int nowans = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        questionbody = (MarkupString)"<h2>「次へ」をクリックすると、問診を開始します。";
        return;
    }

    public async void nextQues()
    {
        questionbody = questions.question[nowans].question;
        nowans += 1;
        await InvokeAsync(StateHasChanged);
    }

    public async void getTest()
    {
        te = "pushed";
        var resp = await Client.GetStringAsync("https://api.schnetworks.net/v1/user.php");
        data = resp;
        StateHasChanged();
    }
    
    private async void postResult()
    {
        //postする処理をなんか書く
    }

    public class ansResp
    {
        public int qNum { get; set; }
        public int score { get; set; }
    }
}