@page "/vital"
<h1>バイタル</h1>

<div class="input-group">
    <input type="text" class="form-control form-control-lg" id="taijuBox" placeholder="体重"/>
    <label class="input-group-text">Kg</label>
</div>

@code {
    
}