@page "/vital"
<h1>バイタル</h1>
<!-----
    毎日記録するやつ
----->
<div class="row mb-3">
    <div class="input-group">
        <input type="text" class="form-control form-control-lg" id="taijuBox" placeholder="体重"/>
        <label class="input-group-text">Kg</label>
    </div>
</div>

<p>起床時間</p>
<p>就寝時間(昨夜)</p>
<p></p>

@code {
    
}